<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: header}"></head>
<body>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Описание</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vacancy: ${vacancies}">
                <td th:text="${vacancy.id}"/>
                <td th:text="${vacancy.title}"/>
                <td th:text="${vacancy.description}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>